---
---

@import "{{ site.theme }}";

html, body {
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 2px, transparent 2px) !important;
    background-size: 30px 30px;
    animation: slideBackground 15s linear infinite;
}

@keyframes slideBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 300px -300px;
    }
}
